---
Checks: >
  bugprone-*,
  cppcoreguidelines-*,
  google-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -google-readability-todo,
  -google-runtime-references,
  -misc-non-private-member-variables-in-classes,
  -modernize-use-trailing-return-type,
  -readability-named-parameter,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -misc-include-cleaner,
  -misc-const-correctness,
  -readability-identifier-naming,
  -readability-static-accessed-through-instance

WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*(third_party|build|/usr/|KDDockWidgets|Qt)).*'
SystemHeaders: false
FormatStyle: file
ExtraArgs:
  - -Wno-unknown-warning-option
